<!DOCTYPE html>
<html>
  <style>
    h1 {
      font-family: Geneva;
    }

    header {
      display: flex;
      justify-content: space-between;
    }

    header > h1{
      color: white;
      display: flex;
      justify-content: flex-start;
    }

    header > a{
      display: flex;
      justify-content: right;
      height: 100%;
      background-color: grey;
      color: white;
      border-radius: 5px;
      padding: 5px;
    }

    body {
      
      margin: 0 auto;
      width: 60%;
      color: white;
      background-image: url('https://steamuserimages-a.akamaihd.net/ugc/952958387206892057/50677EFA11070FB2DBAA9B813038900EFC24819C/');
      background-size: cover;
    }

    .main {
      background-color: rgba(250, 235, 215, 0.411);
    }

  </style>



  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Music App</h1>
      <% if logged_in? %>
        <form action="<%= session_url %>" method="post">
          <%= auth_token_input %>
          
          <%= auth_token_input %>
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Logout">
        </form>
      <% else %>
          <a href=" <%= new_user_url %> ">Sign Up</a>
          <a href=" <%= new_session_url %> ">Sign In</a>
      <% end %>
    </header>
    <div class="main">
      <%= yield %>
    </div>
    
  </body>
</html>
